body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.title {
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 25px;
    color: aqua;
    text-shadow: aqua 1px 0 25px;
    padding: 10px 10px 10px 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: black;
    padding: 10px;
}

.grid-container button {
    background-color: rgba(0, 255, 234, 0.8);
    border: 1px  black;
    text-align: center;
    color: aqua;
    font-size: 30px;
    border-radius: 50px;
    padding: 5px 5px;
    box-shadow: aqua 1px 0 25px;
    transition: all;
  }

.grid-container button:hover {
    transform: scale(1.01);
    cursor: grab;
}