/*
    style.css
    
    Author: Steven Duong and Tony Wu
    Date of last modication: March 2, 2024
*/
body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.title {
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 40px;
    color: aqua;
    text-shadow: aqua 1px 0 25px;
    padding: 10px 10px 10px 40px;
}

.title h2 {
    text-shadow: rgba(255, 0, 170, 0.8) 10px 0 25px;
    color: aquamarine;
}

.grid-container {
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    gap: 60px;
    background-color: black;
    padding: 10px;
}

.grid-container button {
    font-family: Comic Sans MS;
    background-color: rgba(0, 255, 234, 0.8);
    border: 1px  black;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 35px;
    border-radius: 10px 70px;    
    padding: 50px 50px;
    box-shadow: aqua 1px 0 25px;
    transition: transform 1s, color 1s, text-shadow 1s;
  }

.grid-container .playButton:hover {
    transform: perspective(500px) scale(1.1);
    color: rgba(255, 0, 170, 0.8);
    text-shadow: rgba(255, 0, 170, 0.8) 1px 0 25px;
    cursor: pointer;
}

.grid-container .playButton2:hover {
    transform: perspective(500px) scale(1.1);
    color: rgba(255, 0, 170, 0.8);
    text-shadow: rgba(255, 0, 170, 0.8) 1px 0 25px;
    cursor: pointer;
}

.BigButton {
    display: flex;
    justify-content: left;
    padding-top: 200px;
}

.BigButton button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    border: 1px black;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px 5px;
    box-shadow: red 1px 0 25px;
    transition: transform 1s;
    padding-left: 10px;
}

.BigButton button:hover {
    transform:translateX(1000px);
    cursor: pointer;
}